<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/login">

    <!--
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember Me
        </label>
    </div>
    -->

    <div class="form-group">
        <label for="exampleInputEmail1">Token</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="token" placeholder="Enter token">
    </div>

    <button type="submit" class="btn btn-default">Login</button>

    <div>
        <pre>
        {{ pubkey }}
        </pre>
    </div>
</form>
